body{
    margin:0;
    font-family:poppins 700, trebuchet ms, sans-serif;
    background:#f4f7fc;
}

.top-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#0c8a64;
    padding:15px 40px;
}

.top-nav a{
    color:white;
    text-decoration:none;
    margin-right:20px;
    font-weight:bold;
}

.contact-btn{
    background:#79eb9f;
    color:white;
    border:none;
    padding:12px 22px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.contact-btn:hover{
    background:#2c1c03;
}

.heading{
    text-align:center;
    padding:20px;
}

.heading nav a{
    text-decoration:none;
    margin:15px;
    color:#0c8a64;
    font-weight:bold;
}

.banner{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    padding:40px;
    flex-wrap:wrap;
}

.profile{
    width:220px;
    height:280px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.3);
}

.intro{
    max-width:600px;
}

table{
    width:80%;
    margin:auto;
    border-collapse:collapse;
}

th{
    background:white;
    color:black;
}

table,th,td{
    border:1px solid gold;
}

th,td{
    padding:12px;
    text-align:center;
}

tr:nth-child(even){
    background:#cdd6cd;
}

footer{
    background:#0c8a64;
    color:rgb(255, 255, 255);
    text-align:center;
    padding:20px;

}

dialog{
    width:420px;
    border:none;
    border-radius:12px;
    padding:25px;
}


dialog input,
dialog textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
    box-sizing:border-box;
}

dialog button{
    padding:10px 20px;
    margin-right:10px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    background:#0c8a64;
    color:white;
}

dialog button:hover{
    background:#79eb9f;
}