header, .skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h2{
    text-align: center;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

dialog{
    border: solid #ccc;
    border-radius: 8px;
    padding: 2rem;
    max-width: 400px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

footer{
    text-align: center;
}
